
###> symfony/framework-bundle ###
/.env
/node_modules
/.env.local.php
/.env.*.local
.env.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/users/photos/
/public/uploads/messages/
/public/uploads/tribu_g/photos/
/public/uploads/tribu_t/photos/
/public/uploads/tribu_t/photo/
/public/uploads/tribus/photos/
/public/uploads/tribus/
/public/users/agenda/
/public/users/photos/
/public/assets/publications/photos/
/var/
/vendor/
/uploads/
/jwt/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
