<!DOCTYPE html>
<html>

<head>
    <title>E-fidy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <script defer src="/js/script.js"></script>
    <script defer src="/js/bureauVote.js"></script>
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/jquery.dataTables.min.js"></script>
    <script src="/static/sweetalert2@11.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <!-- <a class="navbar-brand navbar-logo" href="#"> </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fa-solid fa-check-to-slot"></i>E-fidy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i>Fandraisana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/election"><i class="fa-solid fa-user-check"></i>Fifidianana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liste-electorale"><i class="fa-solid fa-list-ol"></i>Lisi-pifidianana</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bureau-de-vote"><i
                            class="fa-regular fa-building"></i></i>Biraom-pifidianana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resultat-election"><i class="far fa-chart-bar"></i>Valim-pifidianana</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="body-liste-electeur">
        <div class="liste-electeur">

            <section class="section-liste-electorale">

                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0" id="mon-table">

                        <thead style="padding: 0 10px ;" class="tbl-header">
                            <tr>
                                <th style="width: 20px;">N°</th>
                                <th>Fokontany</th>
                                <th>Kaominina</th>
                                <th>Distrika</th>
                                <th>Faritra</th>
                                <th>Faritany</th>
                            </tr>
                        </thead>

                        <tbody id="inner-bureau-electorale">


                        </tbody>
                    </table>
                </div>
            </section>

        </div>

        <div class="simple-spinner d-none" id="modal">
            <div>
                <span></span>
                <label>Miandrasa kely azafady...</label>
            </div>

        </div>
</body>

</html>