<!DOCTYPE html>
<html>

<head>
    <title>Reconnaissance faciale en JavaScript</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script defer src="face-api.min.js"></script> -->
    <script defer src="/js/script_election.js"></script>
</head>

<body>
    <h1>Election présidentielle 2023</h1>
    <div class="election-head" >
        <img src="/assets/images/head.png">
    </div>
    <div class="election-body">
        <ul id="ul-candidat" class="ul1">
        </ul>
        <div class="bulletin-specimen">
            <img src="/assets/images/specimen.png">
        </div>
        <ul id="ul-candidat" class="ul2">
        </ul>
    </div>

    <div class="d-none" id="modal">
        <div class="alert" id="confirm-candidat">

        </div>

    </div>

</body>

</html>
