<!DOCTYPE html>
<html>

<head>
    <title>E-fidy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script defer src="/js/electeur.js"></script>
    <script src="//code.jquery.com/jquery-3.7.0.js"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>

<body class="body-liste-electeur">
    <div class="liste-electeur">

        <section class="section-liste-electorale">
            <!--for demo wrap-->
            <h1>Liste électorale</h1>
            <button class="ajout-electeur" onclick="openModal()">Ajouter un electeur</button>
            
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0" id="mon-table">

                    <thead style="padding: 0 10px ;" class="tbl-header">
                        <tr>
                            <th style="width: 20px;">N°</th>
                            <th>CIN</th>
                            <th>Nom</th>
                            <th>Photo</th>
                            <th>2è photo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody id="inner-liste-electorale">


                    </tbody>
                </table>
            </div>
        </section>

        <div class="d-none" id="modal">
            <div class="alert">
                <div >
                    <form class="form-eleteur" action="/saveOneElector" method="post" enctype="multipart/form-data">
                        <label class="label-electeur">Nom de l'électeur</label>
                        <input type="text" class="input-electeur" id="nom-electeur" name="nom_electeur" required>
                        <label class="label-electeur">CIN de l'électeur</label>
                        <input type="text" class="input-electeur" id="cin-electeur" name="cin_electeur" required>
                        <label class="label-electeur" for="photo-electeur">Photo de l'électeur</label>
                        <input type="file" class="input-electeur" id="photo-electeur" name="photo_electeur" required>
                        <label class="label-electeur" for="photo2-electeur">2è photo de l'électeur</label>
                        <input type="file" class="input-electeur" id="photo2-electeur" name="photo2_electeur" required>
                        <div class="d-flex">
                            <button class="btn btn-danger btn-2" type="button" onclick="closeModal()">Annuler</button>
                            <button class="btn btn-success btn-2" type="submit" >Enregistrer</button>
                        </div>
                        
                    </form>
                    
                </div>
            </div>

        </div>
</body>

</html>