<!DOCTYPE html>
<html>
  <head>
    <title>Reconnaissance faciale en JavaScript</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/static/face-api.min.js"></script>
    <script defer src="/js/script.js"></script>
  </head>
  <body class="body-cam">
    <div class="flex-cam">
        <div class="faciale">
            <video id="video" width="500" height="400" autoplay muted></video>
        </div>
        <code id="resultat"></code>
    </div>
    
  </body>
</html>
