<!DOCTYPE html>
<html>

<head>
    <title>E-fidy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="/js/script.js"></script>
    <script defer src="/js/electeur.js"></script>
    <script src="//code.jquery.com/jquery-3.7.0.js"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <!-- <a class="navbar-brand navbar-logo" href="#"> </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fa-solid fa-check-to-slot"></i>E-fidy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i>Fandraisana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/election"><i class="fa-solid fa-user-check"></i>Fifidianana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liste-electorale"><i class="fa-solid fa-list-ol"></i>Lisi-pifidianana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i
                            class="fa-regular fa-building"></i></i>Biraom-pifidianana</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/resultat-election"><i class="far fa-chart-bar"></i>Valim-pifidianana</a>
                </li>
                
            </ul>
        </div>
    </nav>

    <div class="body-liste-electeur">
        <div class="liste-electeur">

            <section class="section-liste-electorale">
                <!--for demo wrap-->
                <!-- <h1>Liste électorale</h1> -->
                <button class="ajout-electeur" onclick="openModal()"><i class="fa-solid fa-user-plus"></i> Hampiditra mpifidy</button>

                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0" id="mon-table">

                        <thead style="padding: 0 10px ;" class="tbl-header">
                            <tr>
                                <th style="width: 20px;">N°</th>
                                <th>CIN</th>
                                <th>Anarana</th>
                                <th>Sary Voalohany</th>
                                <th>Sary faharoa</th>
                                <th>Fanovàna</th>
                            </tr>
                        </thead>

                        <tbody id="inner-liste-electorale">


                        </tbody>
                    </table>
                </div>
            </section>

            <div class="d-none" id="modal">
                <div class="alert">
                    <div>
                        <form class="form-eleteur" action="/saveOneElector" method="post" enctype="multipart/form-data">
                            <label class="label-electeur">Anaran'ny mpifidy</label>
                            <input type="text" class="input-electeur" id="nom-electeur" name="nom_electeur" required>
                            <label class="label-electeur">CIN an'ny mpifidy</label>
                            <input type="text" class="input-electeur" id="cin-electeur" name="cin_electeur" required>
                            <label class="label-electeur" for="photo-electeur">Sary voalohany</label>
                            <input type="file" class="input-electeur" id="photo-electeur" name="photo_electeur"
                                required>
                            <label class="label-electeur" for="photo2-electeur">Sary faharoa</label>
                            <input type="file" class="input-electeur" id="photo2-electeur" name="photo2_electeur"
                                required>
                            <div class="d-flex">
                                <button class="btn btn-danger btn-2" type="button"
                                    onclick="closeModal()"><i class="fa-solid fa-delete-left"></i>Aoka aloha</button>
                                <button class="btn btn-success btn-2" type="submit"><i class="fa-solid fa-floppy-disk"></i>Ampidirina</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
</body>

</html>