<main class="em-page__content"> 
  <div class="em-search-form--wrapper"> 
   <form id="em-search-form" class="em-search-form" action="" method="post"> 
    <h2 class="em-search-form__title em-title--secondary"> Votre recherche </h2> 
    <div class="em-search-form__content"> 
     <div class="mdc-tab-bar em-search-form__scroll-wrapper" role="tablist"> 
      <div class="mdc-tab-scroller"> 
       <div class="mdc-tab-scroller__scroll-area"> 
        <div class="mdc-tab-scroller__scroll-content"> <button type="button" id="casden" value="casden" class="mdc-tab mdc-tab--active em-search-form__agence-type-button" role="tab" aria-selected="true" tabindex="0"> <span class="mdc-tab__content"> <span class="mdc-tab__text-label"> Délégations Départementales CASDEN </span> </span> <span class="mdc-tab-indicator mdc-tab-indicator--active"> <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"> </span> </span> <span class="mdc-tab__ripple"> </span> </button> <button type="button" value="bp" class="mdc-tab mdc-tab em-search-form__agence-type-button" role="tab" aria-selected="false" tabindex="1"> <span class="mdc-tab__content"> <span class="mdc-tab__text-label"> Agences Banque Populaire </span> </span> <span class="mdc-tab-indicator mdc-tab-indicator"> <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"> </span> </span> <span class="mdc-tab__ripple"> </span> </button> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="em-search-form__fieldset-wrapper"> 
      <fieldset class="em-search-form__fieldset em-search-form__search-fields"> 
       <div class="em-search-form__field" id="fieldsearchstreet"> 
        <input type="text" id="em-search-form__searchstreet" value="" autocomplete="off"> <label for="em-search-form__searchstreet"> Rue </label> 
       </div> 
       <div class="em-search-form__field" id="fieldsearchcity"> 
        <input type="text" id="em-search-form__searchcity" value="" autocomplete="off"> <label for="em-search-form__searchcity"> Ville / Code postal </label> <a href="#" class="em-search-form__localize-me"> <span> Me localiser </span> </a> 
       </div> 
      </fieldset> 
      <fieldset class="em-search-form__fieldset em-search-form__buttons"> 
       <div class="em-search-form__field"> 
        <input type="checkbox" id="em-search-form__saturday" value="on"> <label for="em-search-form__saturday"> Ouvert le samedi </label> 
       </div> 
       <div class="em-search-form__field"> <button type="submit" class="em-search-form__submit em-button em-button--primary"> Rechercher </button> 
       </div> 
      </fieldset> 
     </div> 
     <div class="em-search-form__fieldset-wrapper-bp hide"> <a href="https://agences.banquepopulaire.fr/banque-assurance/" class="bp-link"> <span> Rechercher une agence Banque Populaire </span> </a> 
     </div> 
    </div> 
   </form> 
  </div> 
  <div class="em-details"> 
   <div class="em-details__photo" style="background-image:url(/UI/photos/agence/casden.jpg);"> 
   </div> 
   <div class="em-details__poi-card"> 
    <h2 class="em-details__label em-title em-title--secondary"> CASDEN Chez B P Auvergne Rhône Alpes </h2> <a class="em-details__reseau" href="https://www.casden.fr/" target="_blank" title="Se rendre sur le site internet"> CASDEN Banque Populaire </a> 
    <div class="em-details__info"> 
     <div class="em-details__info-cell em-details__info-cell--column"> 
      <div class="em-details__address"> 
       <div>
         8 Boulevard Elemir Bourges 
        <br> Agence Manosque Centre 
        <div class="em-details__city"> <span> 04100 </span> &nbsp; <span> MANOSQUE </span> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="em-details__info-cell em-details__info-cell--column"> <a class="em-details__tel" href="tel:04.13.37.50.99"> <span> 04.13.37.50.99 </span> </a> 
     </div> 
     <div class="em-details__info-cell"> 
     </div> 
     <div class="em-details__info-cell"> <a class="em-details__horaires-link" href="#horaires"> Voir les horaires d'ouverture </a> <a class="em-details__reviews-link em-hidden" href="#ums-widget"> Consulter les avis de la délégation et donner le vôtre </a> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="horaires"> 
  </div> 
  <div class="em-details__horaires-bloc"> 
   <h2 class="em-title em-title--secondary"> Les horaires d'ouverture </h2> 
   <div class="em-details__horaires-content"> 
    <div class="em-schedules__arrow em-schedules__arrow--left"> 
    </div> 
    <div class="em-graphical-schedules"> 
    </div> 
    <div class="em-schedules__arrow em-schedules__arrow--right"> 
    </div> 
   </div> 
  </div> 
  <div id="detailmap" class="em-details__map"> 
   <div id="detailviewer" class="em-details__map-viewer em-map__viewer"> 
   </div> 
   <div id="detailbtnsmap" class="em-map__buttons"> <a id="detailbtnzoomin" class="em-map__btn-zoomin em-map__btn-zoom" href="#" title="Zoom avant"> <span> Zoom avant </span> </a> <a id="detailbtnzoomout" class="em-map__btn-zoomout em-map__btn-zoom" href="#" title="Zoom arrière"> <span> Zoom arrière </span> </a> 
   </div> 
   <div id="detailbtnsmap3" class="em-map__buttons em-map__buttons-left"> <a id="detailbtnway" class="em-map__btn-itinerary em-button em-button--secondary" href="#" title="Itinéraire"> Itinéraire </a> 
   </div> 
  </div> 
  <div id="reviews" class="em-details__reviews-bloc bloc-casden" data-caisse="casden"> 
  </div> 
  <div class="em-ums-widget-container em-details__reviews-bloc em-hidden"> 
   <div id="ums-widget"> 
   </div> 
  </div> 
  <script>
 //<![CDATA[
 !function(f,b,e,v,n,t,s){u=f.ums=function() {u.queue.push(arguments)};u.queue=[];t=b.createElement(e);t.async=! 0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)} (window,document,'script', 'https://www.upmyshop.com/widget/scripts/widget.min.js');ums('init','ums-widget','a37491cc6fee491f49a1724ac96f2d432c66aede','prod','list', '', '', $('body').attr('data-id'));
 //]]>
         </script> 
  <div class="em-info"> 
   <h2 class="em-title em-title--secondary"> Nos délégations départementales CASDEN <span> &nbsp;à proximité de <span class="em-info-placename"> Manosque </span> &nbsp; </span> </h2> 
   <div class="em-info-text"> 
    <p> Rendez-vous dans l’une de nos <span class="em-info-text-strong"> délégations départementales </span> &nbsp;à proximité de <span class="em-info-placename"> Manosque </span> . </p> 
    <p> Nos conseillers CASDEN y seront à votre disposition pour vous accompagner. Vous recherchez une offre adaptée à vos moments de vie, une épargne pour préparer vos futurs projets ou un crédit <span class="em-info-mention"> (1) </span> pour financer votre projet ? </p> 
    <p class="em-info-credit"> Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager. </p> 
    <p> Découvrez nos solutions sur <span class="em-info-bloc-link"> <a class="em-info-text-link" href="https://www.casden.fr/" target="_blank"> casden.fr </a> . </span> </p> 
   </div> 
   <p class="em-info-text-mention"> Document à caractère publicitaire et sans valeur contractuelle. <br> (1) Offre soumise à conditions et dans les limites fixées par l’offre de crédit, sous réserve d’acceptation de votre dossier par l’organisme prêteur, la CASDEN Banque Populaire. Pour le financement d’une opération relevant des articles L313-1 et suivants du code de la consommation (crédit immobilier), l’emprunteur dispose d’un délai de réflexion de 10 jours avant d’accepter l’offre de crédit. La réalisation de la vente est subordonnée à l’obtention du prêt. Si celui-ci n’est pas obtenu, le vendeur doit rembourser les sommes versées. Pour les crédits à la consommation, l’emprunteur dispose du délai légal de rétractation. </p> 
  </div> 
 </main>

 